<% include templates/header %>
<div class="main">
  <div class="row">
    <div class="col-md-5">
    <p class="lead"><%= question %></p>
    <form method="post" action="/vote">
      <div class="form-group">
      <select class="form-control" id="selections" name="vote">
    <% for (var i = 0; i < options.length; i++) { %>
      <option class="basic">
      <%= options[i] %>
    </option>
    <% } %>
    <% if (user) { %>
      <option id="writeIn">Write In Custom Vote</option>
  <%  } %>
</select>
</div>
<div class="form-group">
<input class="form-control hidden" id="writeInText" type="text" name="customVote" placeholder="Write Your Custom Option Here">
</div>
<input type="hidden" value="<%= id %>" name="poll_id">
<div class="form-group">
<button class="btn btn-primary btn-block">Vote</button>
</div>
</form>
<div class="form-group">
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%=question%> - Take this poll for @freecodecamp" data-via="PhilipKassel" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</div>
<div class="col-md-7">

<div class="displayVotes">
  <canvas id="myChart"></canvas>
</div>

<% if (owner === true) { %>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Poll</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete this poll:</p>
        <p class="lead"><%= question %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="/delete/<%=id%>" class="btn btn-danger">Delete</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="form-group"><button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-lg btn-block">Delete This Poll</button></div>
<% } %>
</div>
</div>
</div>
</div> <!-- /container -->
<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.bundle.min.js"></script>
<script src="/js/vote.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
